<!DOCTYPE html>
<html>
  <head>
    <title>{{#id}}Edit{{/id}}{{^id}}Create{{/id}} Campaign</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{#id}}Edit{{/id}}{{^id}}Create{{/id}} Campaign</h1>
      </div>
      <div role="main" class="ui-content">
        {{^is_authenticated}}
        <p class="error">Please <a href="/login">Log In</a> to create a campaign.</p>
        {{/is_authenticated}}
        <form action="/campaigns/{{id}}" method="post" data-ajax="false"
            data-wq-json="true" data-wq-background-sync="false">
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
              <label for='campaign-name'>Campaign Name</label>
              <input id='campaign-name' type='text' data-xform-type='string' name='name' re
uired value="{{name}}">
              <p class='error campaign-name-errors'></p>
            </li>
            <li class="ui-field-contain">
              <img src="{{rt}}{{#icon}}/media/{{icon}}{{/icon}}{{^icon}}/images/empty.png{{/icon}}"
                   id="campaign-icon-preview">
              <label for="campaign-icon">Icon</label>
              <input type="file" name="icon" id="campaign-icon"
                     data-wq-preview="campaign-icon-preview">
              <p class="error campaign-icon-errors"></p>
            </li>
            {{^id}}
            <li class="ui-field-contain url-container">
              <label for="slug">Permalink</label>
              <div class='ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset'>
                <span>try.wq.io/campaigns/</span>
                <input name="slug" id="slug" value="{{slug}}" data-role="none"
                    placeholder="enter-here">
              </div>
              <p class="error campaign-slug-errors"></p>
            </li>
            {{/id}}
            {{#id}}
            <input type="hidden" name="slug" value="{{slug}}">
            {{/id}}
            <li class="ui-field-contain">
              <label for='campaign-description'>Description</label>
              <textarea name="description" id="campaign-description">{{description}}</textarea>
              <p class="error campaign-description-errors"></p>
            </li>
            <li data-role="list-divider">Observation Fields</li>
              <li>Date</li>
              <li>Photo</li>
              <li>Location (Latitude, Longitude)</li>
            </li>
            {{#parameters}}
            <li class="section-parameters" data-role="list-divider">
              Field {{@index}}
              {{^new}}
              <input type="hidden" name="parameters[{{@index}}][id]" value="{{id}}">
              {{/new}}
            </li>
            <li class="ui-field-contain">
              <label for='campaign-parameters-{{@index}}-name'>Name</label>
              <input id='campaign-parameters-{{@index}}-name' type='text' data-xform-type='string' name='parameters[{{@index}}][name]' value="{{^new}}{{name}}{{/new}}">
              <p class='error campaign-parameters-{{@index}}-name-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-role="controlgroup" data-type="horizontal">
                <legend>Type</legend>
                <label for="parameter-{{@index}}-is_numeric-true">Numeric</label>
                <input type="radio" name="parameters[{{@index}}][is_numeric]"
                     id="parameter-{{@index}}-is_numeric-true" value="t"
                    {{#is_numeric}}checked{{/is_numeric}}>
                <label for="parameter-{{@index}}-is_numeric-false">Text</label>
                <input type="radio" name="parameters[{{@index}}][is_numeric]"
                     id="parameter-{{@index}}-is_numeric-false" value="f"
                     {{^is_numeric}}checked{{/is_numeric}}>
              </fieldset>
              <p class="error campaign-parameters-{{@index}}-is_numeric-errors"></p>
            </li>
            <li class="ui-field-contain">
              <label for='campaign-parameters-{{@index}}-units'>Units</label>
              <input id='campaign-parameters-{{@index}}-units' type='text' data-xform-type='string' name='parameters[{{@index}}][units]' value="{{units}}">
              <p class='error campaign-parameters-{{@index}}-units-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='campaign-parameters-{{@index}}-description'>Description</label>
              <input id='campaign-parameters-{{@index}}-description' type='text' data-xform-type='string' name='parameters[{{@index}}][description]' required value="{{^new}}{{description}}{{/new}}">
              <p class='error campaign-parameters-{{@index}}-description-errors'></p>
            </li>
            {{/parameters}}
            <li>
              <button type="button" data-wq-action="addattachment" data-wq-section="parameters">
                Add Field
              </button>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/campaigns/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error campaign-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
