<!DOCTYPE html>

<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!
-->
<html>
  <head>
    <title>Log In</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Log In</h1>
      </div>
      <div role="main" class="ui-content">
        {{#is_authenticated}}
        <a href="/logout" data-role="button" style="float:right;"
           data-icon="delete" data-inline="true" data-mini="true">
          Log Out
        </a>
        <p>
          Logged in as {{user.username}}
        </p>
        <ul data-role="listview" data-inset="true" style="clear:both;">
          <li data-role="list-divider">Connected Accounts</li>
          {{#user.social_auth.accounts}}
          <li>
            {{provider_label}}: {{label}}
          </li>
          {{/user.social_auth.accounts}}
          <li data-role="list-divider">Connect Another Account</li>
        {{/is_authenticated}}
        {{^is_authenticated}}
        <ul data-role="listview" data-inset="true">
        {{/is_authenticated}}
          <li>
            <a href="/login/github" rel="external">Log in with Github</a>
          </li>
          <li>
            <a href="/login/google-oauth2" rel="external">Log in with Google</a>
          </li>
          <li>
            <a href="/login/twitter" rel="external">Log in with Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>

