<!DOCTYPE html>
<html>
  <head>
    <title>Shared Observations</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page" data-wq-sync-refresh="true">
      <div data-role="header">
        {{>home}}
        <h1>Shared Observations</h1>
      </div>
      <div role="main" class="ui-content">
        {{#unsynced}}
        <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">Outbox</li>
          {{>outbox}}
        </ul>
        {{/unsynced}}
        <ul data-role="listview" data-filter="true" data-inset="true">
          <li data-role="list-divider">Saved Records</li>
          {{#list}}
          <li data-icon="check">
            <a href="/reports/{{id}}">
              {{>photo_thumbnail}}
              <h3>{{label}}</h3>
            </a>
          </li>
          {{/list}}
          {{^list}}
          <li>No Observations Found</li>
          {{/list}}
          <li data-icon="camera" data-theme="b">
            <a href="/campaigns">Share Observation</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>

